<ion-card>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-card-title>{{tittle}}</ion-card-title>
            </ion-col>
            <ion-col class="ion-text-center">
                <ion-icon [style.color]="color" name="{{iconClass}}"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-card-subtitle style="float: right;" [style.color]="color" class="ion-padding"
                                   [countUp]="numberCases">0
                </ion-card-subtitle>
            </ion-col>
            <ion-col size="12">
                <ion-card-subtitle style="float: right;" [style.color]="color">New Cases +<span
                        style=" font-style: italic;margin-right: 15px; font-weight: lighter" [countUp]="200">0</span>
                </ion-card-subtitle>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
