<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="latest-news">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>Latest News</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="reports">
            <ion-icon name="document-outline"></ion-icon>
            <ion-label>Reports</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="statistics">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <ion-label>Statistics</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="help">
            <ion-icon name="help-outline"></ion-icon>
            <ion-label>Help</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="cog-outline"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
        
    </ion-tab-bar>

</ion-tabs>
