<ion-header>
    <ion-toolbar>
        <ion-title>Latest News</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>

    <div class="ion-padding">
        <ion-segment [(ngModel)]="segment" value="details">
            <ion-segment-button value="details">
                <ion-label>Details</ion-label>
            </ion-segment-button>
            <ion-segment-button value="stat">
                <ion-label>Statistics</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="segment">
        <div *ngSwitchCase="'details'">
            <app-card [tittle]="'Total Infected Cases'" [numberCases]="data?.confirmed.value" [color]="'#17a2b8'"
                      [iconClass]="'checkmark-outline'"></app-card>
            <app-card [tittle]="'Total Recovered Cases'" [numberCases]="data?.recovered.value" [color]="'#28a745'"
                      [iconClass]="'medkit-outline'"></app-card>
            <app-card [tittle]="'Total Deaths Cases'" [numberCases]="data?.deaths.value" [color]="'#dc3545'"
                      [iconClass]="'skull-outline'"></app-card>
        </div>
        <div *ngSwitchCase="'stat'">
            <ion-card class="ion-padding">
                <ion-card-title>Total COVID-19 Cases</ion-card-title>
                <br>
                <p-chart type="line" [data]="chartData"></p-chart>
            </ion-card>
        </div>
    </div>
</ion-content>
