<ion-header>
    <ion-toolbar>
        <ion-title>Latest News</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="ion-padding">
        <ion-item>
            <ion-label>Create Tabs For Global Chart And Global Details</ion-label>
        </ion-item>
        <ion-item>
            <ion-label> In GLobal Details Get Infected , Recovered & Deaths Counts & Date</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>In Global Charts Get Global & Deaths Infected Line Charts</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
